cv_summariser.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: cv_summariser
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1737614235434-source-1737614271224-target
      source: '1737614235434'
      sourceHandle: source
      target: '1737614271224'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1737614271224-source-1737614370831-target
      source: '1737614271224'
      sourceHandle: source
      target: '1737614370831'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: cv_text
          max_length: 20000
          options: []
          required: true
          type: paragraph
          variable: cv_text
      height: 90
      id: '1737614235434'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash-exp
          provider: google
        prompt_template:
        - id: 1691dc24-f3fc-4141-8d63-07c271f14def
          role: system
          text: "  role: \n    CV Reader\n  goal: \n    Extract relevant information\
            \ from the CV, such as skills, experience, and education.\n  backstory:\
            \ \n    With years of experience in HR, you excel at quickly identifying\
            \ key qualifications in resumes.\n\ntask_description: >\n    Extract relevant\
            \ information from the given CV. Focus on skills, experience,\n    education,\
            \ and key achievements.\n    Ensure to capture the candidate's professional\
            \ summary, technical skills,\n    work history, and educational background.\n\
            \n\n    CV file: {{#1737614235434.cv_text#}}\n  expected_output: >\n \
            \   A structured summary of the CV, including:\n    - Professional Summary\n\
            \    - Technical Skills\n    - Work History\n    - Education\n    - Key\
            \ Achievements"
        - id: d652e80b-a18f-484a-8921-f8ba32481bb8
          role: user
          text: Provide the summary of the cv following the provided format.
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1737614271224'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1737614271224'
          - text
          variable: result
        selected: false
        title: End
        type: end
      height: 90
      id: '1737614370831'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 53.35868209334183
      y: -34.67551478483486
      zoom: 0.7356763703738161
